<section id="main-content">

  <div id="contact-info">

    <section class="contact-container contact-tel">
      <div class="contact-label">TEL</div>
      <div class="contact-content">James on <span class="bold">07531 892794</span> or Clare on <span class="bold">07775 727351</span></div>
    </section>

    <section class="contact-container contact-email">
      <div class="contact-label">EMAIL</div>
      <div class="contact-content">sustainable.nutrition99@gmail.com</div>
    </section>

  </div>

  <div id="copyright">© Copyright Sustainable Nutrition 2016</div>

</section>

<section id="social-buttons">

</section>
