<section id="main-content">

  <div id="left-side">
    <div id="contact-info">

      <section class="contact-container contact-tel">
        <div class="contact-label">TEL</div>
        <div class="contact-content">James on <span class="bold"><a href="tel:+447531 892794">07531 892794</a></span> or Clare on <span class="bold"><a href="tel:+447775 727351">07775 727351</a></span></div>
      </section>

      <section class="contact-container contact-email">
        <div class="contact-label">EMAIL</div>
        <div class="contact-content"><a href="mailto:{{contactEmail | async}}">{{contactEmail | async}}</a></div>
      </section>

    </div>

    <div id="copyright">© Copyright Sustainable Nutrition 2016</div>
  </div>
  <section id="social-buttons">
    <ng-container *ngFor="let icon of socialMedia" >
      <a *ngIf="icon.destination" href="{{icon.destination}}" target="_blank"><i class="sn-social-icon icon-{{icon.name}}"></i></a>
    </ng-container>
  </section>

</section>
