@import '../variables';

:host {
  min-height: $footerHeight - 20;
  font-size: 0.6rem;
  //max-height: $footerHeight;
  background-color: $sn-accent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5px 25px;
  @include respond-to(medium) {
    padding: 10px 50px;
    font-size: 0.6rem;
  }
}

#left-side {
  display: flex;
  flex-flow: column nowrap;
}

#main-content {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin-top: 20px;
  justify-content: space-around;
  @include respond-to(medium) {
    margin-top: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  font-size: 1.1em;
  position: relative;
  #contact-info {
    display: block;
    order: -5;
    @include respond-to(medium) {
      flex-flow: row nowrap;
      order: 0;
    }
  }
  .contact-tel, .contact-email {
    display: flex;
    align-items:center;
    flex-flow: row;
  }
}
.contact-tel {
  margin-bottom: 5px;
}

.contact-container {
  margin-right: 10px;
  height: 1.5em;
  padding: 5px 0;
  a {
    text-decoration: none;
    color: currentColor;
  }
  .contact-container, .contact-label {
    line-height: 20px;
    @include respond-to(medium) {
      line-height: 12px;
    }
  }
  .contact-label {
    margin: 0 5px 0 0;
  }

  .contact-content {
    font-size: 1em;
    line-height: 15px;
    a {
      text-decoration: underline;
    }
    @include respond-to(medium) {
      line-height: 12px;
      font-size: 1.1em;
    }
  }

  .contact-email .contact-label {
    @include respond-to(medium) {
      margin: 0 5px;
    }
  }
}

#copyright, .contact-label {
  color: $sn-yellow;
  font-family: $antonio;
}

.contact-content {
  color: white;
  font-family: $metropolis;
  font-weight: 500;
  //white-space: nowrap;
  font-size: 0.8em;
  a {
    white-space: nowrap;
  }
  @include respond-to(medium) {
    font-size: 1em;
  }
}

#copyright {
  font-size: 0.8em;
  font-family: $roboto;
}

#social-buttons {
  padding: 10px 0;
  $icon-size: 36px;
  height: $icon-size;
  color: white;

  a {
    color: white;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .sn-social-icon {
    font-size: $icon-size;
    line-height: $icon-size;
  }
}
