@import '../../variables';

:host {
  width: 100%;
  @include linear-gradient(0deg, rgba(0,0,0,0.05) 0%, transparent 100%);
}
#header {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 $gutterMobile;
  display: flex;
  flex-flow: column nowrap;
  height: 170px;
  justify-content: flex-end;

  @include respond-to(large) {
    padding: 0 $gutterDesktop;
    height: 300px;
  }
}

#page-title {
  width: 50%;
  line-height: 1em;
  font-weight: 900;
  color: $sn-green;
  font-size: 1.8em;
  margin-bottom: 0;
  font-variant: all-small-caps;
  @include respond-to(medium) {
    font-size: 2.5em;
  }
  @include respond-to(large) {
    margin-bottom: inherit;
  }
}
