<div id="coach">
  <div id="left-side" [ngClass]="{odd: index % 2}">
    <template [ngTemplateOutlet]="index % 2 ? details : image"></template>
  </div>
  <div id="right-side">
    <template [ngTemplateOutlet]="index % 2 ? image : details"></template>
  </div>
</div>
<div id="gradient-background"></div>


<template #details>
  <div id="coach-container">
    <span id="coach-name" bordered-header class="orange">{{coach.firstName}} {{coach.lastName}}</span>
    <div id="coach-details" [innerHTML]="coach.fullDescription">
    </div>
    <div id="coach-contact">
      <div id="coach-phone">
        <div id="coach-phone__icon" class="icon"></div>
        <div id="coach-phone__details">
          <h4 id="coach-phone__title">Get in touch with {{coach.firstName}}</h4>
          <span id="coach-phone__number">{{coach.telephoneNumber}}</span>
        </div>
      </div>
      <div id="coach-email">
        <div id="coach-email__icon" class="icon"></div>
        <div id="coach-email__details">
          <h4 id="coach-email__title">Get in touch with {{coach.firstName}}</h4>
          <span id="coach-email__email">{{coach.emailAddress}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<template #image>
  <div id="coach-image" class="{{coach.firstName.toLowerCase()}}">
  </div>
</template>
