@import '../../variables';
:host {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  width: 100%;
  margin: 20px auto;
}

#left-side, #right-side {
  height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @include respond-to(large) {
    width: 50%;
  }
}
#left-side {}
#left-side.odd {
  order: 1;
  @include respond-to(medium) {
    order: 0;
  }
}

#coach-name {
  margin-bottom: 25px;
}
#coach-image {
  height: 100%;
  background: no-repeat center;
  &.james {
    background-image: url('../../../assets/img/james.png');
  }
  &.clare {
    background-image: url('../../../assets/img/clare.png');
  }
  background-size: contain;
}

#coach-details /deep/ p {
  color: rgba(0,0,0,0.4);
  font-family: $metropolis;
  font-weight: 600;
  font-size: 1.3em;
}


.icon {
  width: 53px;
  height: 36px;
  margin: 0 12px;
  background-size: cover;
  background: no-repeat center;
  align-self: center;
}

#coach-phone, #coach-email {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 60px;
}

#coach-phone__details {
  display: flex;
  flex-flow: column;
}
#coach-phone__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.34 37.46'%3E%3Crect width='21.34' height='36.46' x='.5' y='.5' fill='none' stroke='%23231f20' stroke-miterlimit='10' rx='3' ry='3'/%3E%3Cpath fill='none' stroke='%23231f20' stroke-miterlimit='10' d='M.5 6.8h21.34M6.8 4.48h8.73M.5 30.23h21.34'/%3E%3Cellipse cx='11.19' cy='33.62' fill='none' stroke='%23231f20' stroke-miterlimit='10' rx='1.78' ry='1.55'/%3E%3C/svg%3E");
}
#coach-phone__title {
  margin: 0 0;
  font-family: $metropolis;
  color: rgba(0,0,0,0.4);
  font-size: 1em;
  font-weight: 900;
  line-height: 1.3em;
}
#coach-phone__number {
  color: $sn-orange;
  font-family: $antonio;
  font-size: 1.5em;
}

#coach-email__details {
  display: flex;
  flex-flow: column;
}
#coach-email__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.92 34.19'%3E%3Crect width='43.92' height='26.72' x='.5' y='.5' fill='none' stroke='%23231f20' stroke-miterlimit='10' rx='2' ry='2'/%3E%3Crect width='36.33' height='22.1' x='4.3' y='2.81' fill='none' stroke='%23231f20' stroke-miterlimit='10' rx='1' ry='1'/%3E%3Cpath fill='none' stroke='%23231f20' stroke-miterlimit='10' d='M18.44 27.22v6.1m7.6-6.1v6.1m-12.34.38h17.5'/%3E%3C/svg%3E");
}
#coach-email__title {
  margin: 0 0;
  font-family: $metropolis;
  color: rgba(0,0,0,0.4);
  font-size: 1em;
  font-weight: 900;
  line-height: 1.3em;
}
#coach-email__email {
  color: $sn-orange;
  font-family: $antonio;
  font-size: 1.5em;
}
