<sn-page-title [title]="service.title"></sn-page-title>

<section id="service-content">
  <div id="pay-response" *ngIf="payMessage" [ngClass]="{success: payMessage.type === 'success'}">{{payMessage.message}}</div>
  <div id="service-description">
    <h3 id="service-description__title">Service Details:</h3>
    <hr id="service-divider">
    <div id="service-description__content" [innerHTML]="service.description"></div>
  </div>
  <div id="service-info">
    <div id="service-image-container">
      <img id="service-image" src="{{service.image.url}}" alt="Image for service {{service.title}}">
    </div>
    <div id="service-buy-container">
      <a bordered-header class="orange" id="purchase-button" (click)="stripeForm.openCheckout()">Purchase</a>
      <sn-stripe-form
        #stripeForm
        [purchase]="{productName: service.title, productPrice: service.cost}"
        (message)="payMessage = $event"
      ></sn-stripe-form>
    </div>
  </div>
</section>
