<sn-page-title [title]="'Contact'"></sn-page-title>
<section class="page-content">

  <div class="form">
    <div class="form-input">
      <input type="text" name="name" value="" placeholder="Name">
    </div>
    <div class="form-input">
      <input type="email" name="email" value="" placeholder="Email">
    </div>
    <div class="form-input">
      <textarea name="message" value="" placeholder="Enquiry"></textarea>
    </div>
    <div class="form-actions">
      <button class="btn">SUBMIT</button>
    </div>
  </div>

  <section id="contact-number">
    <h3 id="contact-number__title">FURTHER CONTACT DETAILS</h3>
    <div id="contact-number__content">
      If you wish to speak to us directly, we are availably during working hours (9 till 5) Monday to Friday, at the below number:
      <br/>
      <span id="contact-number__value">{{data.contactNumber}}</span>
    </div>
  </section>

  <section id="business-address">
    <h3 id="business-address__title">OUR BUSINESS ADDRESS</h3>
    <div id="business-address__content" [innerHTML]="data.businessAddress"></div>
  </section>
</section>
