<sn-page-title [title]="'Contact'"></sn-page-title>
<section class="page-content">

  <div class="form">
    <div class="form-input">
      <input type="text" name="name" value="" placeholder="Name">
    </div>
    <div class="form-input">
      <input type="email" name="email" value="" placeholder="Email">
    </div>
    <div class="form-input">
      <textarea name="message" value="" placeholder="Enquiry"></textarea>
    </div>
    <div class="form-actions">
      <button class="btn">SUBMIT</button>
    </div>
  </div>

  <div class="page-description-header">
    FURTHER CONTACT DETAILS
  </div>
  <div class="page-description">
    If you wish to speak to us directly, we are availably during working hours (9 till 5) Monday to Friday, at the below number:
    <br/>
    <span class="number">01473 871345</span>
  </div>

  <div class="page-description-header">
    OUR BUSINESS ADDRESS
  </div>
  <div class="page-description">
    <span>
      Unit 11, Alpha Business Park<br/>
      White House Road<br/>
      Ipswich<br/>
      IP1 5LT
    </span>

  </div>








</section>
