<div id="stripeForm" *ngIf="stripeFormVisible">
  <div id="background" (click)="closePayWindow($event)"></div>
  <div id="payment-form-container">
    <header>
      <a id="close-pay-button" href="#" (click)="closePayWindow($event)">Close x</a>
      <div id="header-content">
        <div id="product">
          <span>{{purchase.productName}}</span>
        </div>
        <div id="price">
          <span>Price: </span>
          <span>{{purchase.productPrice | currency:'GBP':true}}</span>
        </div>
      </div>
    </header>
    <section id="payment-form-content">
      <form id="payment-form" (ngSubmit)="submitStripePayment(card.value)" novalidate [formGroup]="card">
        <span class="payment-message">{{inlineMessage}}</span>

        <div class="form-row">
          <label>
            <span class="form-input__label">Contact Email</span>
            <input class="form-input__field contact-email" type="email" formControlName="receipt_email">
          </label>
        </div>

        <div class="form-row">
          <label>
            <span class="form-input__label">Card Number</span>
            <input class="form-input__field card-number" type="text" size="20" formControlName="number">
          </label>
        </div>

        <div class="form-row">
          <label>
            <span class="form-input__label">Expiration (MM/YY)</span><br>
            <input class="form-input__field exp-month" type="text" size="2" formControlName="exp_month">
          </label>
          <span> / </span>
          <input class="form-input__field exp-year" type="text" size="2" formControlName="exp_year">
        </div>

        <div class="form-row">
          <label>
            <span class="form-input__label">CVC</span><br>
            <input class="form-input__field cvc" type="text" size="4" formControlName="cvc">
          </label>
        </div>

        <button id="pay-button" type="submit" [disabled]="!stripeButtonActive">{{stripeButtonMessage}}</button>
      </form>
    </section>
  </div>
</div>
