<div id="stripeForm" [ngClass]="{visible: stripeFormVisible}">
  <div id="background" (click)="closePayWindow($event)"></div>
  <div id="payment-form-container">
    <header>
      <a id="close-pay-button" href="#" (click)="closePayWindow($event)">Close x</a>
      <div id="header-content">
        <div id="product">
          <span>{{purchase.productName}}</span>
        </div>
        <div id="price">
          <span>Price: </span>
          <span>{{purchase.productPrice | currency:'GBP':true}}</span>
        </div>
      </div>
    </header>
    <section id="payment-form-content">
      <form id="payment-form">
        <span class="payment-message">{{inlineMessage}}</span>

        <div class="form-row">
          <label>
            <span class="form-input__label">Contact Email <small>(required)</small></span>
            <input
              class="form-input__field contact-email"
              type="email"
              name="receiptEmail"
              required
              [(ngModel)]="receiptEmail"
            >
          </label>
        </div>

        <div class="form-row">
          <label>
            <span class="form-input__label">Card Number <small>(required)</small></span>
            <div id="card-number"></div>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span class="form-input__label">Expiration (MM/YY) <small>(required)</small></span><br>
            <div id="card-expiration"></div>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span class="form-input__label">CVC <small>(required)</small></span><br>
            <div id="card-cvc"></div>
          </label>
        </div>

        <button
          id="pay-button"
          type="submit"
          [disabled]="!stripeButtonActive"
          (click)="submitStripePayment(tokenizedCard)"
        >{{stripeButtonMessage}}</button>
      </form>
    </section>
  </div>
</div>
