{{message}}
<br>
<button (click)="openCheckout()">Purchase</button>

<div id="stripeForm" *ngIf="stripeFormVisible">
  <div id="background" (click)="closePayWindow()"></div>
  <div id="payment-form-container">
    <header>
      <sn-brand-logo class="brand-logo" theme="other" prefix="pay"></sn-brand-logo>
      <div id="header-content">
        <div id="product">
          <span>{{purchase.productName}}</span>
        </div>
        <div id="price">
          <span>Price: </span>
          <span>{{purchase.productPrice | currency:'GBP':true}}</span>
        </div>
      </div>
    </header>
    <section id="payment-form-content">
      <form id="payment-form" (ngSubmit)="submitStripePayment(card.value)" novalidate [formGroup]="card">
        <span class="payment-message">{{message}}</span>

        <div class="form-row">
          <label>
            <span>Contact Email</span>
            <input type="email" formControlName="receipt_email">
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Card Number</span>
            <input type="text" size="20" formControlName="number">
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Expiration (MM/YY)</span>
            <input type="text" size="2" formControlName="exp_month">
          </label>
          <span> / </span>
          <input type="text" size="2" formControlName="exp_year">
        </div>

        <div class="form-row">
          <label>
            <span>CVC</span>
            <input type="text" size="4" formControlName="cvc">
          </label>
        </div>

        <button id="pay-button" type="submit" [disabled]="!stripeButtonActive">{{stripeButtonMessage}}</button>
      </form>
    </section>
  </div>
</div>
