@import '../../variables';

#stripeForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  #background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
  }
}

#close-pay-button {
  position: absolute;
  top: 2px;
  right: 2px;
  color: rgba(0,0,0,0.76);
}

#payment-form-container {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  @include card(2);
  header {
    padding: 15px;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    #header-content {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      #product {
        font-variant: all-small-caps;
        font-size: 1.9em;
        margin: 5px auto;
        font-family: $metropolis;
        text-align: center;
      }
    }
  }
  .brand-logo {
    height: 100px;
  }
  #payment-form-content {
    padding: 15px;
    height: 100%;
    display: flex;
  }
}

#payment-form {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.payment-message {

}
.form-row {
  align-self: flex-start;
  margin: 5px 0;
  .form-input__label {
    font-family: $metropolis;
    font-weight: 600;
    width: 100%;
    font-size: 0.8em;
  }
  .form-input__field {
    font-family: $metropolis;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid $sn-orange;
    &:focus {
      outline: none;
      border-bottom: 3px solid $sn-orange;
    }
  }
  .contact-email, .card-number {
    width: 90%;
  }
}


#pay-button {
  $button-width: 200px;
  $button-padding: 15px;
  position: absolute;
  bottom: 5px;
  width: 200px;
  // height: 50px;
  background-color: transparent;
  padding: 15px;
  border: 5px solid $sn-orange;
  color: $sn-orange;
  font-family: $antonio;
  font-size: 1.5em;
  &[disabled] {
    $disabledColor: rgba(0,0,0,0.75);
    color: $disabledColor;
    border-color: $disabledColor;
  }
}
