@import '../variables';

$headerHeight: 175px;

:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;

}

#sidenav-backdrop {
  // Constants
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  // Will change
  opacity: 0;

  // Transition Setup
  transition: opacity 0.2s cubic-bezier(0,0,0.3,1);
}

#sidenav {
  // Constants
  position: relative;
  width: 90%;
  max-width: 400px;
  background: $sn-orange;
  height: 100%;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);

  // Will change
  transform: translateX(-102%);
  will-change: transform;

  &.animatable {
    // Transition Setup
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  }
}

// Sidenav is made visible - adjust relevant props
:host(.visible) {
  pointer-events: auto;
  #sidenav-backdrop {
    opacity: 1;
  }
  #sidenav {
    transform: none;
  }
}

#close-menu-btn {
  position: absolute;
  margin: 10px 0 0 10px;
  color: white;
}

#menu-header {
  height: $headerHeight;
  background: $sn-orange;

  #wide-brand-logo {
    height: 100%;
    background-size: cover;
    background: url('../../assets/img/wide-logo-small.png') no-repeat center center;
  }
}

#menu {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  height: calc(100vh - #{$headerHeight});

  .menu__list-item {
    display: block;
    line-height: 48px;
    text-align: center;

    .menuItem {
      display: block;
      width: 100%;
      color: white;
      text-decoration: none;
      font-family: $metropolis;
      font-weight: 800;
      font-size: 18px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
      }
    }
  }
}
