@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Antonio';
  src: 
  url('../assets/fonts/antonio/Antonio-Light.woff2') format('woff2'),
  url('../assets/fonts/antonio/Antonio-Light.woff') format('woff'),
  url('../assets/fonts/antonio/Antonio-Light.ttf') format('truetype');
  
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio';
  src: url('../assets/fonts/antonio/Antonio-Bold.woff2') format('woff2'),
  url('../assets/fonts/antonio/Antonio-Bold.woff') format('woff'),
  url('../assets/fonts/antonio/Antonio-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio';
  src: 
  url('../assets/fonts/antonio/Antonio-Regular.woff2') format('woff2'),
  url('../assets/fonts/antonio/Antonio-Regular.woff') format('woff'),
  url('../assets/fonts/antonio/Antonio-Regular.ttf') format('truetype');
  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-RegularItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-RegularItalic.ttf') format('truetype');
  
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-ExtraBoldItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-ExtraBoldItalic.ttf') format('truetype');
  
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-ThinItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-ThinItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-ThinItalic.ttf') format('truetype');
  
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-Medium.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-Medium.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-Medium.ttf') format('truetype');
  
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-ExtraBold.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-ExtraBold.ttf') format('truetype');
  
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-ExtraLightItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-ExtraLightItalic.ttf') format('truetype');
  
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-LightItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-LightItalic.ttf') format('truetype');
  
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-Bold.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-Bold.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-Bold.ttf') format('truetype');
  
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-BoldItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-BoldItalic.ttf') format('truetype');
  
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-Thin.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-Thin.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-Thin.ttf') format('truetype');
  
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-Regular.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-Regular.ttf') format('truetype');
  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-ExtraLight.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-ExtraLight.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-ExtraLight.ttf') format('truetype');
  
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-Light.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-Light.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-Light.ttf') format('truetype');
  
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-BlackItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-BlackItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-BlackItalic.ttf') format('truetype');
  
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-MediumItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-MediumItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-MediumItalic.ttf') format('truetype');
  
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-SemiBold.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-SemiBold.ttf') format('truetype');
  
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-Black.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-Black.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-Black.ttf') format('truetype');  
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: 
  url('../assets/fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2'),
  url('../assets/fonts/metropolis/Metropolis-SemiBoldItalic.woff') format('woff'),
  url('../assets/fonts/metropolis/Metropolis-SemiBoldItalic.ttf') format('truetype');
  
  font-weight: 600;
  font-style: italic;
}
