<sn-side-nav [routes]="navList" #sidenav viewport-height></sn-side-nav>

<section id="wrapper">

  <header id="header">
    <button sn-icon-button [ngClass]="{dark: activeTheme === 'other'}" id="menu-button" (click)="sidenav.open()"><i class="material-icons">menu</i></button>

    <a [routerLink]="['home']" id="brand-logo-button">
      <sn-brand-logo [theme]="activeTheme === 'home' ? 'original' : 'green'" id="brand-logo"></sn-brand-logo>
    </a>

    <nav id="main-nav" class="hide-on-small">
      <a
        *ngFor="let navItem of navList"
        [routerLink]="navItem.destination"
        class="navItem"
        [ngClass]="{
        selected: currentPage === navItem.name,
        'secondary-theme': activeTheme === 'other'
        }"
      >{{navItem.name | uppercase}}</a>
    </nav>

    <div class="cta hide-on-small" *ngIf="currentPage !== 'contact'">
      <a [routerLink]="['/contact']">
        <span bordered-header class="getInTouch" [ngClass]="{orange: activeTheme === 'other'}">GET IN TOUCH NOW</span>
      </a>
    </div>
  </header>

  <router-outlet></router-outlet>
</section>
<sn-footer></sn-footer>
