<div id="bowl"></div>
<div id="hero-content">
  <div id="title" [innerHTML]="_title | newLine | uppercase"></div>
  <a pageScroll href="#details-bucket" id="learn-more-link">
    <div class="learn-more-container">
      <span class="learnMore">LEARN MORE</span>
      <hr class="thick-hr">
      <div class="arrow">
        <svg width="30" height="50" xmlns="http://www.w3.org/2000/svg">
          <g>
            <title>Sustainable Nutrition</title>
            <g stroke="#ffffff" id="svg_10">
              <line id="svg_7" y2="50" x2="15" y1="0" x1="15" stroke-width="2" fill="none"/>
              <line id="svg_8" y2="50" x2="15" y1="35" x1="0" stroke-width="2" fill="none"/>
              <line id="svg_9" y2="50" x2="15" y1="35" x1="30" stroke-width="2" fill="none"/>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </a>
</div>
