@import '../variables';
  :host {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    width: 100%;
  }

  .page-content {
    padding: 0 $gutterMobile;
    @include respond-to(large) {
      padding: 0 $gutterDesktop;
    }
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
  }


  .blog-container {
    width: 100%;
    max-width:1000px;
    display:flex;
    position:relative;
    flex-flow: column nowrap;
    padding:30px 0;
  }

  .blog--date--social {
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .blog--date {
    font-family: $metropolis;
    font-weight: 300;
    line-height: 0.75em;
    font-variant: all-small-caps;
    font-size: 1.15em;
    color: rgba(0,0,0,0.5);
  }

  .blog--title {
    font-family: $metropolis;
    font-weight: 900;
    line-height: 1em;
    font-variant: all-small-caps;
    font-size: 1.75em;
    color: $sn-orange;
  }

  .blog--desc {
    font-family: $metropolis;
    font-weight: 600;
    line-height: 1.15em;
  font-size: 1.15em;
  color: rgba(0,0,0,0.5);
}

.blog--social {
  margin-left:15px;
}
