<sn-page-title [title]="'Blog'"></sn-page-title>
<section class="page-content">
  <div class="blog-container" *ngFor="let blog of blogs">
    <div class="blog--date--social">
      <span class="blog--date">01/14/2017</span>
      <div class="blog--social">
        <span class="blog--social-share">share</span>
        <i class="sn-social-icon icon-facebook"></i>
        <i class="sn-social-icon icon-twitter"></i>
        <i class="sn-social-icon material-icons">email</i>
      </div>
    </div>

    <span class="blog--title">some blog title here</span>
    <span class="blog--desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies nisi non risus convallis convallis. Aliquam erat volutpat. Curabitur efficitur sed enim a molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies nisi non risus convallis convallis. Aliquam erat volutpat. Curabitur efficitur sed enim a molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies nisi non risus convallis convallis. Aliquam erat volutpat. Curabitur efficitur sed enim a molestie.
    </span>
    <div class="blog--arrow">
      <i class="sn-social-icon material-icons down-arrow">arrow_forward</i>
    </div>
  </div>

  <hr class="more-entries--hr">
  <div class="more-entries">
    <span class="more-entries--text">more entries</span>
    <span class="more-entries--arrow"><i class="sn-social-icon material-icons down-arrow">arrow_forward</i></span>
  </div>
</section>
