@import '../variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  width: 100%;
}

.page-content {
  padding: 0 $gutterMobile;
  @include respond-to(large) {
    padding: 0 $gutterDesktop;
  }
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.blog-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  padding: 30px 25px 55px 25px;
}

.blog--date--social {
  width: 100%;
  height: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.blog--date {
  font-family: $antonio;
  font-weight: 400;
  line-height: 1.5em;
  font-variant: all-small-caps;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.blog--title {
  font-family: $metropolis;
  font-weight: 900;
  line-height: 1em;
  font-variant: all-small-caps;
  font-size: 2em;
  color: $sn-orange;
}

.blog--desc {
  margin-top: 10px;
  font-family: $metropolis;
  font-weight: 300;
  line-height: 1.15em;
  font-size: 1.15em;
  color: rgba(0, 0, 0, 0.5);
}

.blog--social {
  display: none;
  color: white;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
  min-width: 150px;

  .blog--social-share {
    font-family: $antonio;
    font-weight: 400;
    //line-height: 1.5em;
    font-variant: all-small-caps;
    font-size: 1.5em;
  }
  .sn-social-icon {
    line-height: 1.5em;
    font-size: 1.5em;
  }

}

.blog--arrow {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: white;
}

.blog-container:focus, .blog-container:hover {
  @include linear-gradient(175deg, $sn-yellow 0%, $sn-orange 100%);
  .blog--date, .blog--title, .blog--desc {
    color: white;

  }
  .blog--social {
    display: flex;
  }

  .blog--arrow {
    display: block;
  }
}

.more-entries--hr {
  width: 100%;
  max-width: 1000px;
  margin-top:15px;
  border-color: rgba(0, 0, 0, 0.2);
}

.more-entries {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;

  .more-entries--text {
    font-family: $metropolis;
    font-weight: 900;
    line-height: 1em;
    font-variant: all-small-caps;
    font-size: 1.75em;
    color: $sn-orange;
  }

  .more-entries--arrow {
    color: $sn-orange;
    line-height: 1em;
  }
}

.down-arrow {
   transform: rotate(90deg);
}
