<sn-page-title [title]="'Blog'"></sn-page-title>
<section class="page-content">
  <div class="blog-container" *ngFor="let blog of blogs">
    <div class="blog--date--social">
      <span class="blog--date">{{blog.updatedAt}}</span>
      <!--<div class="blog&#45;&#45;social">
        <span class="blog&#45;&#45;social-share">share</span>
        <i class="sn-social-icon icon-facebook"></i>
        <i class="sn-social-icon icon-twitter"></i>
        <i class="sn-social-icon material-icons">email</i>
      </div>-->
    </div>

    <a class="blog--title" href="{{blog.url}}" target="_blank">{{blog.title}}</a>
    <span class="blog--desc">
      {{blog.excerpt}}
    </span>
    <div class="blog--arrow">
      <a href="{{blog.url}}" target="_blank"><i class="sn-social-icon material-icons down-arrow">arrow_forward</i></a>
    </div>
  </div>

  <hr class="more-entries--hr">
  <div class="more-entries">
    <a href="https://medium.com/@sus_nutrition" target="_blank" class="more-entries--text">more entries</a>
    <a href="https://medium.com/@sus_nutrition" target="_blank" class="more-entries--arrow"><i class="sn-social-icon material-icons down-arrow">arrow_forward</i></a>
  </div>
</section>
