@import '../../variables';
:host {
  //padding: 20px $gutterMobile 0;
  flex: 1;
  display: flex;
  color: white;
  background: $sn-green;
  position: relative;
  min-height: 600px;
  flex-flow: row wrap;
  overflow: hidden;
  @include respond-to(large) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

#coach-images {
  width: 100%;
  min-height: 290px;
  position: relative;
  @include patterned-linear-gradient($sn-yellow, 180deg, $sn-yellow 0%, $sn-yellow 15%, #409b42 65%);
  overflow: hidden;
  min-width: 525px;

  @include respond-to(large) {
    flex: 0.3;
    width: auto;
    max-height: 100%;
  }
  #james {
    height: 290px;
    max-width: 100vw;
    background: url('../../../assets/img/james.png') no-repeat;
    position: absolute;
    background-size: contain;

    z-index: 2;

    @include respond-to(large) {
      &.inactive {
      }

      width: calc(779px / 2);
      bottom: -35px;
      height: 535px;
      left: 75px;
    }
  }

}

#coach-details {
  position: relative;
  z-index: 5;
  flex: 0.6;
  background: $sn-green;
  padding: 20px $gutterMobile;
  font-size: 1em;
  #content {
    margin-top: 50px;
    margin-left: 50px;
  }
  #coach-description {
    max-width: 600px;
    line-height: 1.2em;
    margin-top: 25px;
  }
  .coachName {
    font-size: 1.3em;
    line-height: 1em;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.5;
    &:hover {
      opacity: 0.75;
    }
    &.active {
      opacity: 1;
    }
  }
  #title {
    font-family: $metropolis;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 0.2em;
  }
}

#jamesClip-path {
  transform: scale(0.88) translate(-53px, -38px);
  @include respond-to(large) {
    transform: translate(-24.1px, -10px);
  }
}

#more-info:hover {
  text-decoration: underline;
}
