<section id="coach-images">
  <div id="james" [ngClass]="{inactive: activeCoach !== 'james', active: activeCoach === 'james'}" (click)="switchCoachTo('james')"></div>
  <div id="clare" [ngClass]="{inactive: activeCoach !== 'clare', active: activeCoach === 'clare'}" (click)="switchCoachTo('clare')"></div>
</section>
<section id="coach-details">
  <div id="content">
    <h1 id="title">OUR COACHES</h1>
    <span id="coachName" bordered-header [routerLink]="['coaches']">{{coach?.firstName | uppercase}} {{coach?.lastName | uppercase}}</span>
    <div id="coach-description" [innerHTML]="coach?.shortDescription"></div>
    <a href="#" id="more-info" [routerLink]="['coaches']">More Info</a>
  </div>
</section>
