<!DOCTYPE html>
<html>
<head>
	<title>Sustainable Nutrition</title>

	<meta name="description" content="
	At Sustainable Nutrition, we offer a way of living, not just dieting.
	Our methods are easy to implement, they will change the way you view your food forever.
	They will help you achieve your long term goals, whether it be weight loss, gain or just having more energy to get through the day.
	Find out how">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<base href="/">

	<link rel="prefetch" href="assets/img/buckets/home-hero/background.jpg">
	<link rel="prefetch" href="assets/img/buckets/home-hero/home-hero--mobile.jpg">
	<link rel="preload" href="styles.css" as="style">
	<link rel="preload" href="main.css" as="style">
	<link rel="preload" href="sw-install.js" as="script">

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
	<link rel="stylesheet" href="styles.css" />
	<link rel="stylesheet" href="main.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/assets/fonts/icomoon/style.css">
	<!--FAVICON-->
	<link rel="manifest" href="manifest.json">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="assets/icon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/icon/favicon-16x16.png" sizes="16x16">
	<link rel="mask-icon" href="assets/icon/safari-pinned-tab.svg" color="#f7ab1d">
	<link rel="shortcut icon" href="assets/icon/favicon.ico">
	<meta name="msapplication-config" content="assets/icon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- Add to Home Screen: iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="SusNutrition">

	<!-- Add to Home Screen: Android -->
	<meta name="mobile-web-app-capable" content="yes">

	<style>#str-dlls { display: none }</style>
</head>
<body>
	<sn-root>
	</sn-root>
	<script src="sw-install.js"></script>
	<script>
		if ('serviceWorker' in navigator) {
		  // installServiceWorker();
		}
	</script>
	<script type="text/javascript" src="hammer.min.js"></script>
	<script type="text/javascript" src="modernizer-touch-events.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=console.*,Intl.~locale.en&gated=1"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script async src="https://storage.googleapis.com/prshim/v1/payment-shim.js"></script>
	<div id="str-dlls">
		<%= '<' %>script src="/polyfill.dll.js"<%= '>' %><%= '<' %>/script<%= '>' %>
		<%= '<' %>script src="/vendor.dll.js"<%= '>' %><%= '<' %>/script<%= '>' %>
	</div>
	<script src="/index.js"></script>

</body>
</html>
