<div class="services-container">
  <template [ngTemplateOutlet]="index % 2 ? right : left"></template>
</div>



<template #left>
  <div class="sn-service--image push-down">
    <img class="sn-service--image-img" src="{{service.image.url}}" alt="Image of {{service.image.name}}" />
    <div class="sn-service--step">
      <h3 class="sn-service--step-text">{{index + 1}}</h3>
    </div>
  </div>

  <div class="sn-service--details">
    <span class="sn-service--details-title" bordered-header>{{service.title | uppercase}}</span>
    <div class="sn-service--details-body" [innerHTML]="service.summary">
    </div>
  </div>
</template>

<template #right>
  <div class="sn-service--image push-up slide-right">
    <img class="sn-service--image-img" src="{{service.image.url}}" alt="Image of {{service.image.name}}" />
    <div class="sn-service--step-alt">
      <h3 class="sn-service--step-text">{{index + 1}}</h3>
    </div>
  </div>
  <div class="sn-service--details">
    <span class="sn-service--details-title" bordered-header>{{service.title | uppercase}}</span>
    <div class="sn-service--details-body" [innerHTML]="service.summary">
    </div>
  </div>

</template>
