@import '../../variables';
:host {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
}

.services-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @include respond-to(medium) {
    flex-flow: row nowrap;

  }
}


.sn-service--image {
  // padding: 10px 5px;
  width:100%;
  height:100%;
  max-width:300px;
  max-height:300px;
  z-index: 2;
  position:relative;
  @include respond-to(medium) {
    display:flex;
    // padding: 20px;
    max-width: 250px;
  }

  .sn-service--image-img {
    width: 75%;
    height: 75%;
    @include  respond-to(medium){
      width: 100%;
      height: 100%;
    }
  }

}




.slide-right {
  text-align: right;
  @include respond-to(medium){
    order:3;
  }
}


.push-down {
  @include respond-to(medium) {
    transform: translateY(50px);
    flex-direction:row-reverse;
  }

}

.push-up {
  @include respond-to(medium) {
    transform: translateY(-50px);
    flex-direction:row-reverse;
  }
}


$height1: 90px;
$width1: 90px;

.sn-service--step, .sn-service--step-alt {
  @include card(2);
}

.sn-service--step {
  position: absolute;
  right: 3%;
  top: 63%;
  height: $height1;
  width: $width1;
  display:flex;
  align-items: center;
  justify-content: center;
  @include respond-to(medium){
    right: inherit;
    left:81%;
    top:-13%;
  }
}


.sn-service--step-alt {
  position: absolute;
  left: 3%;
  top: 64%;
  height: $height1;
  width: $width1;
  display:flex;
  align-items: center;
  justify-content: center;
  @include respond-to(medium) {
    top: 16%;
    left: -12%;
  }
}

.sn-service--step:before, .sn-service--step-alt:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include linear-gradient(125deg, $sn-yellow 0%, $sn-orange 100%);
}

.sn-service--step-text {
  position:relative;
  font-family: $metropolis;
  font-weight: 900;
  line-height: 1em;
  font-size: 1.25em;
  color: rgba(255,255,255,1);
  @include respond-to(medium) {
    font-size: 2.5em;
  }
}


.sn-service--details {
  @include card(1);
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: rgba(0,0,0,0.3);
  padding: 16px 25px 25px;
  width: calc(100% - 10px);
  height:100%;
  min-height: 200px;
  margin: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include respond-to(medium) {
    margin: 9px;
    padding: 16px 50px;
    width: calc(50% - 18px);
  }

  .sn-service--details-title {
    align-self: flex-start;
    // margin-left: 20px;
    font-family: $metropolis;
    font-weight: 600;
    line-height: 1.2em;
    font-size: 1em;
    color: rgba(255,255,255,1);
    @include respond-to(medium) {
      font-size: 1.15em;
    }
  }

  .sn-service--details-body {
    position: relative;
    margin-top: 25px;
    width:100%;
    padding-bottom:10px;
    max-height: 183px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .read-more {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-family: $metropolis;
    font-weight: 500;
    font-variant: all-small-caps;
  }

  .sn-service--details-body /deep/ p {
    font-family: $metropolis;
    font-weight: 600;
    line-height: 1em;
    font-size: 1em;
    color: rgba(255,255,255,1);
    @include respond-to(medium) {
      font-size: 1em;
    }
  }
}
.sn-service--details:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include linear-gradient(25deg, $sn-yellow 0%, $sn-green 100%);


}


