<div id="left-side">
  <template [ngTemplateOutlet]="index % 2 ? right : left"></template>
</div>



<template #left>
  <div id="sn-service--image" class="push-down">
    <img class="sn-service--image-img" src="{{service.image.url}}" alt="Image of {{service.image.name}}" />
  </div>
  <div id="sn-service--step">
    <h3 class="sn-service--step-text">{{index + 1}}</h3>
  </div>
  <div id="sn-service--details">
    <span id="sn-service--details-title" bordered-header>{{service.title | uppercase}}</span>
    <p id="sn-service--details-body" [innerHTML]="service.summary">
    </p>
  </div>
</template>

<template #right>
  <div id="sn-service--image" class="push-up slide-right">
    <img class="sn-service--image-img" src="{{service.image.url}}" alt="Image of {{service.image.name}}" />
  </div>
  <div id="sn-service--details">
    <span id="sn-service--details-title" bordered-header>{{service.title | uppercase}}</span>
    <p id="sn-service--details-body" [innerHTML]="service.summary">
    </p>
  </div>
  <div id="sn-service--step-alt">
    <h3 class="sn-service--step-text">{{index + 1}}</h3>
  </div>
</template>
